<div *ngIf="(product$ | async) as product">
  <div>
    <img [src]="product.image" alt="">
  </div>
  <div>
    <ul>
      <li>Nombre: {{ product.title }}</li>
      <li>Precio: {{ product.price | currency:'USD' }}</li>
    </ul>
    <p>{{ product.description }}</p>
    <button (click)="createProduct()" mat-raised-button color="primary">Crear</button>
    <button (click)="updateProduct()" mat-raised-button color="accent">Modificar</button>
    <button (click)="deleteProduct()" mat-raised-button color="warn">Eliminar</button>
    <button (click)="getRandomUsers()" mat-raised-button color="primary">get random</button>
    <button (click)="getFile()" mat-raised-button color="primary">get file</button>
  </div>
</div>
